<div class="container contact">
  <div class="row">
    <h1 class="contactMe">Contact Me!</h1>
    <p class="contactMe">
      I am always open to a phone call or an email!
    </p>
  </div>
  <div class="row contacts">
    <div class="contactIcon">
      <a href="https://www.linkedin.com/in/paulrcleary"><img class="contactImage" src="public/images/linkedin.png"/></a><a href="https://www.linkedin.com/in/paulrcleary">PaulRCleary</a>
    </div>
    <div class="contactIcon">
      <a href="https://github.com/Two-watch-boy"><img class="contactImage" src="public/images/github.png"/></a><a href="https://github.com/Two-watch-boy">Two-Watch-Boy</a>
    </div>
    <div class="contactIcon">
      <img class="contactImage" src="public/images/email.png"/><a href="mailto:paul.cleary13@gmail.com">Paul.Cleary@gmail.com</a>
    </div>
    </ul>
  </div>
</div>
