<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <a href="http://at-some-point.herokuapp.com"><h2>@SomePoint</h2></a>
      <p>
        @SomePoint is a day optimization tool developed to help people find the fastest route to compleet a set of tasks, not nessasarly time sensitive, but that should all be done by the day's end.
      </p>
      <p>
        Built with Ruby on Rails, PostgreSQL, HTML, CSS, and javascript.
      </p>
      <p>
        A project with John Ruhsam, Jonathan Ortiz, and Justin Pettit.
      </p>
    </div>
    <div class="col-sm-6">
      <a href="https://github.com/Ruhsam/At-some-point"><img class="macbook" src="public/images/@SomePoint_macbook.png" alt="" /></a>
      <img class="iphone" src="public/images/@SomePoint_iphone.png" alt="" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <a href="https://github.com/Two-watch-boy/project_vagabond"><img class="macbook" src="public/images/handprint_macbook.png" alt="" /></a>
    </div>
    <div class="col-sm-6">
      <a href="http://handprint.herokuapp.com"><h2>HandPrint</h2></a>
      <p>
        Handprint is a travel blog for leaving reviews on cities, posting comments, and showing pictures.
      </p>
      <p>
        Built with Ruby on Rails, PostgreSQL, HTML, CSS, and javascript.
      </p>
      <p>
        A project with Arthur Tonelli, Sarah Bannister, and Joanne Abad.
      </p>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-sm-6">
      <h2>@SomePoint</h2>
      <p>
        @SomePoint is a day optimization tool developed to help people find the fastest route to compleet a set of tasks, not nessasarly time sensitive, but that should all be done by the day's end.
      </p>
      <p>
        Built with Ruby on Rails, PostgreSQL, HTML, CSS, and javascript.
      </p>
      <p>
        A project with John Ruhsam, Jonathan Ortiz, and Justin Pettit.
      </p>
    </div>
    <div class="col-sm-6">
      <img class="macbook" src="public/images/@SomePoint_macbook.png" alt="" />
    </div>
  </div> -->
  <div class="row">
    <div class="col-sm-6">
      <a href="http://duck-derby.bitballoon.com"><h2>Duck Derby</h2></a>
      <p>
        Ducky Derby is a simple racing game where two people can race their ducks across the screen using the "F" and "J" keys.
      </p>
      <p>
        Built with HTML, CSS, and javascript, and Jquery.
      </p>
    </div>
    <div class="col-sm-6">
      <a href="https://github.com/Two-watch-boy/Project-00"><img class="macbook" src="public/images/duckderby_macbook.png" alt="" /></a>
    </div>
  </div>
</div>
